In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    "Scores": [50, 55, 60, 52, 58, 100, 53, 57, 59, 54]
}
df = pd.DataFrame(data)
df

   Scores
0      50
1      55
2      60
3      52
4      58
5     100
6      53
7      57
8      59
9      54

In [3]:
mean = df["Scores"].mean()
std = df["Scores"].std()
print("Mean (μ):", mean)
print("Standard Deviation (σ):", std)

Mean (μ): 59.8
Standard Deviation (σ): 14.482172949296432

In [4]:
df["z_score"] = (df["Scores"] - mean) / std
df

   Scores   z_score
0      50 -0.676694
1      55 -0.331442
2      60  0.013810
3      52 -0.538593
4      58 -0.124291
5     100  2.775827
6      53 -0.469543
7      57 -0.193341
8      59 -0.055240
9      54 -0.400492

In [5]:
outliers = df[np.abs(df["z_score"]) > 3]
outliers

Empty DataFrame
Columns: [Scores, z_score]
Index: []